NEXT_PUBLIC_SUPABASE_URL=https://driogwhecmtlbdeihaw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRyaW9iZ3doZWNtdGxiZGVpaGF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE20TMzODg0OTMsImV4cCI6MjAwOD2NDQ5m30.jh4KqUOlrn6rGwib9CldvS9Edv1J_emOt1zN_KQ0qko